{% extends 'base.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block body %}
    <h1>Create new Offre</h1>

    {{ include('offre/_form.html.twig') }}

    <a href="{{ path('app_offre_index') }}">back to list</a>
{% endblock %}
