{% extends 'base2.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block content %}
    <h1>Edit Reservation</h1>

    {{ include('reservationAdmin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_reservation_index') }}">back to list</a>

    {{ include('reservationAdmin/_delete_form.html.twig') }}
{% endblock %}
