{% extends 'baseBack.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block content %}
    <h1>Create new Reservation</h1>

    {{ include('reservationAdmin/_form.html.twig') }}

    <a href="{{ path('admin_reservation_index') }}">back to list</a>
{% endblock %}
